<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GenGenesis.Properties.Settings.directorysConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB\directorys.mdb"
      providerName="System.Data.OleDb" />
    <add name="GenGenesis.Properties.Settings.patientsConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB\patients.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>